#productWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
}
#tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    margin: 0 0px;
}
.productTagName{
margin: 0;
font-size: 14px;
}
#productPhoto{
    width: 500px;
    height: 400px;
}
.productInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#productDesc > p{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: start;
}