#productWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    margin-top: 50px;
}
#tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    margin: -7px 0;
}
.productTagName{
margin: 0;
font-size: 14px;
}
#productPhoto{
    width: 500px;
    height: 400px;
}
.productInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#productDesc{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 20vw;
    height: 18vh;
    overflow: auto;
}
#productName, #productDesc > p, #productPrice, #cartBtn{
    margin: 0;
}
#productStock{
    margin: 0;
    margin-top: 7px;
}
.separator{
    border-top: 2px solid gainsboro;
    margin: 7px 0;
    width: 100%;
}