.supplierHeaderCon {
	height: 200px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 70%;
	margin: auto;
}

.supplierBackground {
	position: absolute;
	opacity: 0.5;
	top: -25%;
	left: -100px;
	width: calc(100% + 200px);
	min-height:calc(100% + 45px);
	z-index: -1;
	background-size: cover;
	-webkit-mask-image:
	linear-gradient(to top, black 0%, black 100%),
	linear-gradient(to top, transparent 0%, black 100%),
	linear-gradient(to right, transparent 0%, black 100%),
	linear-gradient(to bottom, transparent 0%, black 100%),
	linear-gradient(to left, transparent 0%, black 100%);
-webkit-mask-position:
	center,
	top,
	right,
	bottom,
	left;
-webkit-mask-size:
	200% 200%,
	0% 0,
	100px 200%,
	0% 0px,
	100px 200%;
-webkit-mask-repeat:
	no-repeat,
	no-repeat,
	no-repeat,
	no-repeat,
	no-repeat;
 -webkit-mask-composite:
	source-out,
	source-over,
	source-over,
	source-over;
mask-image:
	linear-gradient(to top, black 0%, black 100%),
	linear-gradient(to top, transparent 0%, black 100%),
	linear-gradient(to right, transparent 0%, black 100%),
	linear-gradient(to bottom, transparent 0%, black 100%),
	linear-gradient(to left, transparent 0%, black 100%);
mask-position:
	center,
	top,
	right,
	bottom,
	left;
mask-size:
	200% 200%,
	0% 0,
	100px 200%,
	0% 0px,
	100px 200%;
mask-repeat:
	no-repeat,
	no-repeat,
	no-repeat,
	no-repeat,
	no-repeat;
mask-composite:
	subtract,
	add,
	add,
	add;
}

.supplierHeaderCon h1 {
	margin: 0px;
}

.supplierData td {
	text-align: left;
	font-weight: 800;
	padding-left: 10px;
}

.supplierData {
	align-self: flex-start;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	bottom: -45px;
}

.supplierData input {
	width: 300px;
}

.supplierTabs {
	height: 35px;
	gap: 10px;
	padding: 10px;
	overflow-x: auto;
	padding-bottom: 0px;
	position: relative;
	top: 1px;
}

.tabsCon {
	margin: auto;
	display: flex;
	justify-content: center;
	height: 100%;
	width: fit-content;
}

.supplierTabs button {
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid rgb(56, 56, 56);
	background-color: transparent;
	cursor: pointer;
	font-size: 18px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: white;
}

.supplierTabs button:hover {
	background-color: #f1f1f1;
	border-bottom: 3px solid black;
}

.supplierTabs button.active {
	border-bottom: none;
	padding-left: 20px;
	padding-right: 20px;
}

.supplierMainArea {
	border-top: 1px solid rgb(56, 56, 56);
	background-color: white;
}
.supplierProducts {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 20px;
	padding: 10px;
	padding-top: 0px;
	padding-left: 50px;
}