.navBar {
  background-color: rgb(68, 68, 68);
  height: 90px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}
.mainBar {
  background-color: rgb(53, 53, 53);
  height: 50px;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  margin: 0;
}

.searchBox {
  height: 30px;
  border-radius: 30px;
  width: 50%;
  max-width: 5000px;
  outline: none;
  border: none;

  background-image: url(https://static-00.iconduck.com/assets.00/search-icon-2048x2048-cmujl7en.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-left: 20px;
  background-size: 15px;
}

.navBarOthers {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.navBarPhoto, .nbImageContainer {
  height: 40px;
  width: 40px;
  margin-left: 0;
  position: relative;
}
.navBarAccountPhoto {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-left: 0;
  border-radius: 50%;
}

.cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.shopCartNumber {
  position: absolute;
  background-color: rgba(44, 44, 44, 0.6);
  border-radius: 30px;
  padding: 3px;
  margin-bottom: 18px;
  margin-left: 4px;
}

.accountPopup {
  background-color: rgb(230, 230, 230);
  border: 1px #ddd solid;
  border-radius: 30px;
  -webkit-box-shadow: 21px 21px 63px -10px rgba(0,0,0,0.41);
  -moz-box-shadow: 21px 21px 63px -10px rgba(0,0,0,0.41);
  box-shadow: 21px 21px 63px -10px rgba(0,0,0,0.41);
  position: absolute;
  top: 55px;
  right: 10px;
  width: 300px;
  color: black;
  padding: 15px;
  padding-bottom: 30px;
  transform-origin: 90% -5%;
  transition: 0.07s;
  transform: scale(0,0);
}
.scale1 {
  transform: scale(1,1);
}

.accountPopup h1, .accountPopup h3 {
  margin: 0px;
}

.accountPopup h3 {
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 0px;
}

.accountPopup h1 {
  height: 40px;
  font-size: 20px;
}

.arrowUp {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  
  border-bottom: 5px solid rgb(230, 230, 230);
  scale: 5;
  position: absolute;
  top: 0;
  right: 25px;
}

.accountPopupButtons {
  margin-top: 10px;
}

.accountButton {
  width: 80%;
  height: 30px;
  margin: 3px;
  border-radius: 30px;
  border: 0.5px solid gray;
}

.logo, .navBarOthers {
  cursor: pointer;
}