.navBar {
  background-color: rgb(68, 68, 68);
  height: 90px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}
.mainBar {
  background-color: rgb(53, 53, 53);
  height: 50px;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  margin: 0;
}

.searchBox {
  height: 30px;
  border-radius: 30px;
  width: 50%;
  max-width: 5000px;
  outline: none;
  border: none;

  background-image: url(https://static-00.iconduck.com/assets.00/search-icon-2048x2048-cmujl7en.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-left: 20px;
  background-size: 15px;
}

.navBarOthers {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.navBarPhoto, .nbImageContainer {
  height: 40px;
  width: 40px;
  margin-left: 0;
}

.cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.shopCartNumber {
  position: absolute;
  background-color: rgba(44, 44, 44, 0.6);
  border-radius: 30px;
  padding: 3px;
  margin-bottom: 20px;
  margin-left: 5px;
}
