.settingsHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin-top: 20px;
  margin-bottom: 50px;
}

.settingsHeader h1 {
  font-size: 2rem;
  margin: 0;
}
.settingsHeader img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.settingsPart {
  text-align: left;
  padding: 30px;
  padding-bottom: 0;
  padding-top: 0;
}

.settingsPart h2 {
  right: 10px;
  position: relative;
}

.settingsPart button {
  right: 0;
}

.photoTextbox {
  display: flex;
  height: 55px;
}

.photoTextbox label {
  width: 90%;
}

.photoPreview {
  width: 80px;
  height: 80px;
  margin-left: 1rem;
  border-radius: 50%;
}