#newProductContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: fit-content;
    height: fit-content;
    border: 1px solid gainsboro;
}
#divider{
    display: flex;
    flex-direction: row;
}
#inputs{
    border: 2px solid gainsboro;
    padding: 10px 15px;
}
.inputContainer{
    border: 3px solid gainsboro;
    border-radius: 10px;
    padding-top: 3px;
    margin: 0;
}
.inputTitle{
    display: flex;
    align-self: flex-start;
    margin: 0;
    margin-bottom: 5px;
}
.separator{
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.input1 {
    margin: 0 30px 0.75rem 5px;
}
.input1 > label > span{
    left: 0.2rem;
}
.input1 > label > input:focus + span,
.input1 > label > input:valid + span {
    left: 0.2rem;
}

/*this is removing a number input arrows for:*/
/*chrome, Safari, Edge, Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*firefox*/
input[type=number] {
  -moz-appearance: textfield;
}
.select-search-value > div.input1 > label > input{
    box-sizing: content-box;
    height: 2rem;
    padding-top: 0.825rem;
    padding-bottom: 0rem;
}
.select-search-select, .select-search-option{
    background-color: white;
}
.select-search-option{
    color: black;
}
.select-search-has-focus .select-search-select{
    border: 2px solid gainsboro;
}
.select-search-is-highlighted, .select-search-option:not(.select-search-is-selected):hover{
    background-color: rgb(193, 193, 193);
}
.productTag > span{
    transition: 0.1s;
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 15px;
}
.productTag > span:hover{
    transition: 0.1s;
    background-color:brown;
    color: white;
    border: 1px solid red;
}
.inputContainer > .productTags {
    max-width: 300px;
    margin: 15px;
}