.searchProducts {
  display: flex;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: 35px;
}

.filters {
  min-width: 270px;
  max-width: 270px;
  grid-area: menu;
  padding: 10px;
}

.filters > section {
  margin-top: 30px;
}

.sort {
  height: 50px;
  grid-area: header;
}

.searchContainer {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu main main main main main';
  gap: 0px;
}

.searchProducts h2 {
  margin: 5px;
}